@using BUS
@model User
@{ 
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>QL API | By fb.com/itvmtri</title>

    <!-- Bootstrap -->
    <link href="~/Content/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/Content/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="~/Content/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Animate.css -->
    <link href="~/Content/vendors/animate.css/animate.min.css" rel="stylesheet">
    <!-- bootstrap-progressbar -->
    @*<link href="~/Content/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">*@
    <!-- JQVMap -->
    @*<link href="~/Content/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet" />*@
    <!-- bootstrap-daterangepicker -->
    @*<link href="~/Content/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">*@
    <!-- Custom Theme Style -->
    <link href="~/Content/css/custom.css" rel="stylesheet">

</head>
<body class="login">
    <div>
        <a class="hiddenanchor" id="signup"></a>
        <a class="hiddenanchor" id="signin"></a>
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <form method="post" class="form">
                        <h1>Đăng nhập</h1>
                        <div>
                            @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "Tên đăng nhập", @required = "required" })
                        </div>
                        <div>
                            @Html.PasswordFor(x => x.Password, new { @class = "form-control", @placeholder = "Mật khẩu", @required = "required" })
                        </div>
                        <div>
                            <input class="btn btn-default submit" type="submit" value="Đăng nhập">
                            @*<a class="reset_pass" href="#">Lost your password?</a>*@
                        </div>
                        @if(ViewBag.Msg != null)
                        {
                            <div class="alert alert-danger" id="msgError">
                                @ViewBag.Msg
                            </div>
                        }
                    </form>
                </section>
            </div>
        </div>
    </div>
    <script src="~/Content/vendors/jquery/dist/jquery.min.js"></script>
    @*<script>
        function Login() {
            var Username = $('#username').val();
            var Password = $('#password').val();
            $.ajax({
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                dataType: 'json',
                cache: false,
                async: false,
                url: '/Login/Index',
                data: JSON.stringify({ username: Username, password: Password }),
                success: function (data) {
                    if (data == "0") {
                        $('#msgError').text('Tên đăng nhập hoặc mật khẩu không chính xác');
                        $('#msgError').show();
                    }
                    else {
                        window.location.href = '/';
                    }
                }
            });
        }
    </script>*@
</body>
</html>
